{% extends 'bootstrap_4_layout.html.twig' %}

{% block email_widget %}
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <div class="input-group-text">{{ symbol }}</div>
        </div>

        {{ parent() }}

    </div>
{% endblock %}