<form>
    <div class="input-group mb-3">
        <input type="text"
               name="q"
               class="form-control"
               placeholder="Найти..."
               value="{{ app.request.query.get('q') }}"
        >
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="form-check">
            <div class="form-check-label">
                Записей на страницу
            </div>
            <select name="perPage" class="form-check-input">
                <option value="10"{% if app.request.query.get('perPage') == 10 %} selected{% endif %}>10</option>
                <option value="20"{% if app.request.query.get('perPage', 20) == 20 %} selected{% endif %}>20</option>
                <option value="50"{% if app.request.query.get('perPage') == 50 %} selected{% endif %}>50</option>
            </select>
        </div>
    </div>
</form>