<div class="row mt-2">
    <div class="col-sm-12">
        <div class="media">
            <img class="align-self-start comment-img rounded-circle"
                 src="{{ asset('images/cat-profile.png') }}">
            <div class="media-body align-self-start col-sm-6">
                <b>{{ comment.authorName }}</b>
                <small>{{ comment.createdAt|ago }}</small>
                <br>
                <span class="comment">{{ comment.content|markdown_cached }}</span>
            </div>
        </div>
    </div>
</div>